@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body {
  font-family: "Roboto";
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

#mainheader {
  background: #333;
  color: white;
  padding: 10px;
}

a {
  color: #0074d9;
  text-decoration: underline;
}

.mainsection {
  padding: 10px 25px 10px 25px;
  margin-top: 10px;
  line-height: 1.4em;
  color: #36454f;
  font-size: 17px;
}

.mainsection h2 {
  padding-top: 10px;
}

.mainsection h3 {
  padding-top: 10px;
}

.mainsection div {
  padding-bottom: 10px;
}

.mainsection ul {
  padding-top: -10px;
}

.mainsection hr {
  margin-top: 15px;
}

#mainfooter22 {
  background: #333;
  color: white;
  text-align: center;
  height: 100px;
  width: 100%;
  bottom: 0px;
  font-size: 18px;
  position: absolute;
  vertical-align: middle;
  padding-top: 5px;
}

#mainfooter {
  background: #333;
  color: white;
  text-align: center;
  height: 100px;
  width: 100%;
  font-size: 18px;
  margin-top: auto;
  vertical-align: middle;
  padding-top: 5px;
}

#mainfooter a {
  color: white;
  text-decoration: underline;
}

#reportdate {
  padding-top: 0px;
  padding-bottom: 10px;
}

#jumptotop {
  padding-bottom: 10px;
}

.facultytable h3 {
  padding-top: 20px;
  margin-bottom: 5px;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #808080;
}

.standard table {
  width: auto;
}

table {
  width: auto;
}

table.fixed {
  table-layout: fixed;
}

td:nth-child(1) {
  width: 16%;
}

.chart-container {
  width: 1000px;
  height: 480px;
}

.facultytable table {
  width: 135%;
}

.staff-profile-faculty-section td:nth-child(1) {
  white-space: nowrap;
}

.staff-profile-faculty-section td:nth-child(1) {
  white-space: nowrap;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
}

table thead th:first-child {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 9999;
}

table thead th {
  position: sticky;
  position: -webkit-sticky;
  top: -1;
  z-index: 20;
  border-top: -1px solid #808080;
}

.staff-profile-faculty-section td:nth-child(2) {
  white-space: nowrap;
}

.staff-profile-faculty-section td:nth-child(28) {
  white-space: nowrap;
}

.research-project-faculty-table table {
  width: 180%;
}

.research-project-faculty-section td:nth-child(1) {
  width: 15%;
}

.research-project-faculty-section td:nth-child(2) {
  white-space: nowrap;
}

.research-project-faculty-section td:nth-child(19) {
  white-space: nowrap;
}

.research-project-faculty-section td:nth-child(20) {
  white-space: nowrap;
}

.research-project-faculty-section td:nth-child(28) {
  white-space: nowrap;
}

.mainsection h2 {
  padding-top: 10px;
}

#callout {
  border-left: 5px solid #0053b3;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  vertical-align: center;
  padding-top: 13px;
}

/* CSS */
#bug-collector a {
  background-color: #0053b3;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin-top: 20px;
  padding: 12px;
  text-decoration: none;
  width: 15%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#bug-collector {
  padding-bottom: 10px;
}

#bug-collector a:hover {
  background-color: #003977;
}

#menu-cta a {
  text-decoration: none;
}
